<!DOCTYPE html>
<html>

  <script type="text/javascript">
    window.logoURL = "<%= image_url('Slack_Mark.svg')%>"
    window.yellowChatIconURL = "<%= image_url('wiggles/yellow-chat-icon.png')%>"
    window.zendeskIconURL = "<%= image_url('wiggles/zendesk-icon.png')%>"
    window.greenChatIconURL = "<%= image_url('wiggles/green-chat-icon.png')%>"
    window.asanaIconURL = "<%= image_url('wiggles/asana-icon.png')%>"
    window.dropboxIconURL = "<%= image_url('wiggles/dropbox-icon.png')%>"
    window.blueChatIconURL = "<%= image_url('wiggles/blue-chat-icon.png')%>"
    window.hubspotIconURL = "<%= image_url('wiggles/hubspot-icon.png')%>"
    window.atlassianIconURL = "<%= image_url('wiggles/atlassian-icon.png')%>"
    window.googleIconURL = "<%= image_url('wiggles/google-icon.png')%>"
    window.zoomIconURL = "<%= image_url('wiggles/zoom-icon.png')%>"
    window.redChatIconURL = "<%= image_url('wiggles/red-chat-icon.png')%>"
    window.sessionErrorURL = "<%= image_url('session-error.png')%>"

    window.avatarOneURL = "<%= image_url('temp_avatars/one.jpg')%>"
  </script>

  <%= favicon_link_tag asset_path('slaec-fav.png') %>
  
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">

  <head>
    <title>Does a thing | Slaec</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%= action_cable_meta_tag %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
